---

name: Update Vkit

on:
  push: 
    branches: 
      - main

jobs:
  update-vkit:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@main
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 1
          path: swccg-card-json


      - name: Commit json files
        run: |
          echo
          echo
          echo "ls"
          ls -al
          echo
          echo "git: [$(which git)]: $(git --version)"
          echo
          echo "should be in /home/runner/work/swccg-card-json: [$(pwd)]"
          echo
          echo "${{ secrets.SWCCG_VKIT }}" > swccg-vkit.pem
          chmod 0600 swccg-vkit.pem
          echo "swccg-vkit.pem info:"
          ls -al swccg-vkit.pem
          echo
          echo "Setting GIT_SSH_COMMAND"
          export GIT_SSH_COMMAND="ssh -i swccg-vkit.pem -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
          echo "git clone swccg-vkit"
          git clone git@github.com:swccgpc/swccg-vkit.git swccg-vkit
          echo
          echo "ls"
          ls -al
          echo
          ls swccg-vkit
          echo
          ls swccg-card-json
          echo
          echo "copy json files to swccg-vkit"
          cp swccg-card-json/*.json swccg-vkit/
          echo "commit json files to vkit repo"
          cd swccg-vkit
          echo "should be in swccg-vkit: [$(pwd)]"
          it config --local user.email "devon+github-actions[bot]@hubner.org"
          git config --local user.name "github-actions[bot]"
          git add -A *.json ; true
          git commit -m "Updating card json files to latest" -a ; true
          export GIT_SSH_COMMAND="ssh -i ../swccg-vkit.pem -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
          GIT_SSH_COMMAND="ssh -i ../swccg-vkit.pem -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" git push
          rm ../swccg-vkit.pem











